.TaskForm {
    width: 100%;
}

.FormButton {
    border-radius: 0;
    color: #272727;
    border-color: #272727;
    width: 160px;
 }

.custom-file-input:focus ~ .custom-file-label,
.FormButton:not(:disabled):not(.disabled):active:focus,
.FormButton:focus,
.FormInput:focus{
    /*box-shadow: 0 0 0 0.2rem #00000040;*/
    border-color: #A0A0A0;
    box-shadow: none;
}

.FormButton:hover {
    background-color: #E5E5E5;
    border-color: #A0A0A0;
    color: #272727;
}


.FormButton:not(:disabled):not(.disabled):active,
.FormButton:active {
    background-color: #272727;
    color: #ffffff;
    border-color: #A0A0A0;
}

.FormInput {
    border-color: #A0A0A0;
    border-radius: 0;
}

.FormInput:hover {
    cursor: pointer;
}

.custom-file-label::after {
    background-color: #E5E5E5;
    color: #272727;
    width: 160px;
    text-align: center;
}

.custom-file-label,
.form-control::placeholder {
    color: #A0A0A0;
}
