.Navigation {
    position: sticky;
    top: 70px;
    margin: 70px;
}

.NavigationContainer {
    width: 100%;
    min-height: 100%;
}

.NavigationText {
    color: #000000;
}

.NavigationText:hover {
    opacity: 0.5;
}
